
svg{
  width: 1440px;
  height: auto;

  &.about-us-svg{
    margin-top: 100px;
  }
}

@keyframes animate-svg-stroke-dash {
  0% {
    stroke-dasharray: 5px, 10px;  /* Small dashes with small gaps */
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 5px, 10px;
    stroke-dashoffset: -15px;  /* Negative offset for continuous forward motion */
  }
}

.svg-elem-dash {
  animation: animate-svg-stroke-dash .3s linear infinite;  /* Linear timing for smooth flow */
}

@keyframes animate-svg-stroke-circle-animation {
  0% {
    stroke-dashoffset: 2603.13818359375px;
    stroke-dasharray: 2603.13818359375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 2603.13818359375px;
  }
}

@keyframes animate-svg-stroke-circle-animation {
  0% {
    stroke-dashoffset: 2603.138px;
  }

  100% {
    stroke-dashoffset: 0; /* Full circumference */
  }
}

.circle-animation {
    animation: animate-svg-stroke-circle-animation 12s linear infinite;
    stroke-dasharray: 1301.569px;
    stroke-dashoffset: 1301.569px;
    stroke-width: 1px;
}




@keyframes animate-svg-stroke-circle-animation-one {
  0% {
    stroke-dashoffset: 2725.44091796875px;
    stroke-dasharray: 2725.44091796875px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 2725.44091796875px;
  }
}

.circle-animation-one {
  animation: animate-svg-stroke-circle-animation-one 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both;
}

/* Create circular rotation with scaling animation */
@keyframes rotateAndScale {
  0% {
    transform: translateX(0); /* Start at the original position, scaled down */
  }
  50% {
    transform: translateX(100%); /* Move to the right and scale up */
  }
  100% {
    transform: translateX(0); /* Return to the original position, scaled down */
  }
}

.linearGradient{
    animation: rotateAndScale 5s ease-in-out infinite; /* Adjust duration as needed */
    /* Optional styles for visual appearance */
    display: inline-block; /* To ensure the element moves smoothly */
}

/* Create circular rotation with scaling animation */
@keyframes rotateAndScaleReverse {
  0% {
    transform: rotate(360deg); /* Start scaled down */
  }
  100% {
    transform: rotate(0s); /* Complete another rotation and scaled down */
  }
}

.linearGradient-one{
    animation: rotateAndScaleReverse 4s linear infinite;;
}

.about-us{
  position: relative;
}

#box {
  position: absolute;
  top: 0;
  left: 0;
  svg{
    width: 100% !important;
  }
}

.green-line {
  position: absolute;
  left: 10px;
  top: 35%;
  transform: rotate(92deg);
  /* Ensure the group follows the exact path */
  offset-path: path('M1154.72 306.424H196.28C114.977 306.424 49.0684 240.515 49.0684 159.212C49.0684 77.9092 114.977 12 196.28 12H1154.72C1236.02 12 1301.93 77.9092 1301.93 159.212C1301.93 240.515 1236.02 306.424 1154.72 306.424Z');
  animation: move-along-path 6s linear infinite;
  offset-distance: 0%; /* Start at the beginning of the path */
}

@keyframes move-along-path {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}